body {
	font-family: 'Raleway', sans-serif;
	background-image: url(../img/forest.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	background-attachment: fixed;
}
header {
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 30px;
	color: white;
	gap: 1rem;
}
h1 {
	font-size: 18pt;
}
.headerIzq {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}
.headerTitulo {
	font-size: 22pt;
}
.buscador {
	height: 2.2rem; 
	border-radius: 3pt;
	padding: 0 6px;
	font-family: 'Raleway', sans-serif;
}
.loginBtn, .buscadorBtn, .agregarBtn, .contactoBtn {
	width: 6rem;
	height: 2.2rem;
	background-color: rgba(10, 20, 0, 0.5);
	color: white;
	border-width: 3px;
	border-color: white;
	border-style: solid;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	font-weight: 900;
	border-radius: 4pt;
}
.banner {
	background-color: rgba(10, 20, 0, 0.5);
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}
.bannerInterno {
 	display: flex;
	align-items: center;
	justify-content: start;
	width: 80%;
	gap: 2rem;
}
.bannerImgContenedor {
	display: flex;
	justify-content: center;
}
.bannerImg {
	width: 250px;
	border-style: solid;
	border-color: grey;
	border-width: 2px;
}
.bannerInfo {
	line-height: 18pt;
}
.bannerNombre {
	font-size: 20pt;
	color: yellow;
}
.bannerOferta {
	font-size: 14pt;
	color: red;
}
.bannerBtn {
	font-size: 10pt;
	width: 7rem;
	height: 1.8rem;
	margin-top: 4px;
}
.lineaProductos {
	background-color: rgba(0, 0, 0, 0.5);
	width: 80%;
	height: auto;
	margin: auto;
	padding: 10px 20px 70px 20px;
	margin: 44px auto;
	color: white;
	display: flex;
	flex-direction: column;
}
.top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 33px;
}
.productos {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 16px;
	flex-wrap: wrap;
	flex: none;
	order: 1;
	flex-grow: 0;
	justify-content: space-evenly;
	gap: 60px auto;
}
.producto {
	height: 170px;
}
.imagenProducto {
	width: 176px;
	height: 174px;
	border-style: solid;
	border-color: grey;
	border-width: 2px;
}
.precioProducto {
	color: orangered;
}
.verProducto {
	color: grey;
}
.imagen{
	width: 176px;
	height: 174px;
}

.contacto {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 64px 0;

}
.logoFooter {
	font-size: 25pt;
}
.footerDer {
	display: flex;
	gap: 2rem;
}
ul {
	line-height: 25pt;
}
.formularioContacto {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 40%;

	border-color: red;
	border-style: solid;
	border-width: 3px;
}
.nombreContacto, .mensajeContacto {
	width: 90%;
	height: 2.2rem; 
	border-radius: 3pt;
	padding: 0 14px;
	resize: none;
	font-family: 'Raleway', sans-serif;
}
.mensajeContacto {
	height: 100px;
	padding-top: 10px;
}
.contactoBtn {
	width: 11.5rem;
}
.rodapie {
	height: 103px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
}
@media (max-width: 900px) {
	.footerDer {
		flex-direction: column;
	}
	.formularioContacto {
		width: 55%;
	}
}
@media (max-width: 640px) {
	.buscador {
		display: none;
	}
	.bannerInterno {
		width: 100%;
		gap: 0.6rem;
	}
	.bannerImg {
		width: 45vw;
	}
	.contacto {
		flex-direction: column;
		gap: 2rem;
	}
	.formularioContacto {
		width: 90%;
	}
	ul {
		text-align: center;
	}
}

@media (max-width: 425px) {
	header, .headerIzq {
		gap: 0.5rem;
	}
	h1 {
		font-size: 15pt;
	}
	h1, h2 {
		text-align: center;
	}
	.headerTitulo {
		font-size: 15pt;
	}
	.bannerInfo {
		line-height: 14pt;
	}
	.bannerNombre {
		font-size: 17pt;
	}
	.bannerOferta {
		font-size: 11pt;
	}	
}
